
<div class="container">

    <div class="siginform row" style="align-items: center;justify-content:center">
    
        <a routerLink="" class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>
          
        <form class="col-4" (ngSubmit)="signUp()">

          <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
        
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="floatingUsername" [(ngModel)]="username" name="username" required>
            <label for="floatingUsername">Username</label>
          </div>
          

            <div class="mb-3 form-floating">
              <input type="text" class="form-control" id="floatingName" [(ngModel)]="name" name="name">
              <label for="floatingName">Name</label>
            </div>
          
            <div class="mb-3 form-floating">
              <input type="text" class="form-control" id="floatingSurname" [(ngModel)]="surname" name="surname">
              <label for="floatingSurname">Surname</label>
            </div>
          
            <div class="mb-3 form-floating">
              <input type="email" class="form-control" id="floatingInput" [(ngModel)]="email" name="email">
              <label for="floatingInput">Email address</label>
            </div>
          
            <div class="mb-3 form-floating">
              <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="password" name="password">
              <label for="floatingPassword">Password</label>
            </div>
          
            <button class="btn active w-100 py-2" type="submit">Sign Up</button>
          </form>   

    </div>


</div>
    
    
