.collab {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    height: 150px;
    overflow-y: scroll;
    justify-content: space-evenly;
  }

  .add-btn{
    background-color: #c3b7e8;
    border-radius: 4px;
    margin: 10px;
  }

  .collabs-container{
    margin-top: -20px;
  }
  
  .user-details {
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px;
    margin:2px;
    display: inline-block;
    background-color: rgb(231, 230, 229);
    font-size: large;
    border: solid 1px #000000;
 
  }