<div class="collab row">
  <h2 class="fixed-title" style="font-size: 20px;">Collaborators</h2>

  <div class="user-input-container row">

    <div class="col-3">
      <input class="" id="username" [(ngModel)]="enteredUsername" placeholder="Username">
    

    <div class="">
      <div class="col-6">
        <button class="add-btn" (click)="addCollaborator()">Add Collaborator</button>
      </div>
      <div class="col-3">
        <button class="add-btn" (click)="clearCollaborators()">Clear</button>
      </div>
    </div>

  </div>

    <div class="col-9 row collabs-container">
      <div class="user-details col-3" *ngFor="let collaborator of collaborators">
        <p>{{ collaborator}}</p>
      </div>
    </div>


  </div>
  

 
  
</div>
