<div class="main-div">

  <div class="row contain">
    <div *ngFor="let u of users" class="col-6">
        <app-user [user]="u" ></app-user>
    </div>
  </div>
  <div class="input-rows col-8" style="transform: translate(35px,0px);">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Collaborator Username</span>
      <input [(ngModel)]="newCollabUsername"type="text" class="form-control input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
    <div class="d-grid gap-2 col-6 mx-auto" style="margin-bottom: 15px; background-color: #d8bdf0; border-radius: 10px;" >
        <button class="btn " type="button" (click)="addCollab()">Add Collaborator</button>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto" style="margin-bottom: 15px; background-color: #d8bdf0; border-radius: 10px;" >
      <button class="btn " type="button" (click)="deleteCollab()">Delete Collaborator</button>
  </div>
  </div>
  </div>