header {
    height: 80px;
    background-color: #08002c; 
    color: #fff; 
  }

  .main-header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .left-links a,.left-links span, .right-links span {
    color: #fff;
    text-decoration: none;
    margin: 80px;

  }
  .left-links a:hover, .right-links span:hover {
    text-decoration: underline;
  }

  .custom{
    font-size: 20px;
    font-style: oblique;
  }