
<div class="container">

    <div class="row">

        <!-- <img class="cover" src="..\assets\images\cover.jpeg"> -->

        <div class="content">

            <p class="descrip">
            <span style="font-size: 40px;">Empower Your Productivity: </span> Unleash the Power of Seamless Task Management with Our Intuitive and Feature-rich Platform!
            </p>        
        
            <a routerLink="signin" style="margin: 10px;" class=" btn  btn-lg active " role="button" >Sign In</a>
            <a routerLink="signup" style="margin: 10px;"  class=" btn btn-lg active " role="button" >Sign Up</a>

        </div>

    </div>

</div>